<navbar></navbar>

<div class="conteudo-tarefas">
    <div class="lista-tarefas">

        <ng-container *ngFor="let item of tarefas"  >
            <div class="tarefas">
                <div class="cabecalho-tarefas">
                    <div class="data-tarefas">
                        <span> Date: {{item.dataCriacao}}</span>
                    </div>
                    <div class="titulo-tarefas">
                        <span> Titulo: {{item.titulo}}</span>
                    </div>
                </div>

             <div class="texto-tarefas">
                <span>
                    {{item.descricao}}
                </span>
             </div>
            </div>
        </ng-container>
    </div>

</div>